{% extends 'layout.html' %}


{% block title %}
Post List
{% endblock %}

{% block content %}

{% for item in data['posts'] %}
<div class="container">
    <div class="row">
            {% for item in data['posts'] %}
                <div class="col-md-4">
                    <div class="item">
                        <div class="card" style="width: 18rem;">
                          <img src="{{ item['imageUrl'] }}" class="card-img-top" alt="{{ item['title'] }}">
                          <div class="card-body">
                            <h5 class="card-title"><a href="/post/{{ item['id'] }}">{{ item['title'] }}</a></h5>
                            <p class="card-text">{{ item['expertComment']|truncate(160) }}</p>
                          </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

    </div>
</div>
{% endfor %}
{% endblock %}
